.obgxwpvrwixie {
  color: #333;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  font-family: Orbitron, Arial;
  font-size: 7.25rem;
  font-weight: 400;
  line-height: 24px;
  display: flex;
}

.header {
  width: 100%;
  background-color: #fff;
  flex-direction: row;
  flex-basis: 4%;
  justify-content: flex-start;
  align-items: flex-end;
  padding-top: 3px;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
}

.frame-41 {
  height: 85%;
  background-color: #fff;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 78px;
  padding-right: 41px;
  display: flex;
}

.logo-instance-1 {
  height: 50%;
  flex-basis: 5%;
  margin-bottom: 6px;
  margin-left: 20px;
}

.bieokgfgzrlfu {
  margin-top: 2px;
}

.kwhtxlsyopedc {
  margin-top: 1px;
}

.flex-container {
  height: 55%;
  flex-direction: row;
  flex-basis: 10%;
  justify-content: space-between;
  align-items: stretch;
  margin-left: 360px;
  display: flex;
}

.button-instance-1 {
  height: 100%;
  flex-basis: 57%;
  margin-right: -17px;
}

.button-1-instance {
  height: 100%;
  flex-basis: 44%;
}

.vsfaywucsoakj {
  color: #000;
  width: 100%;
  background-color: #fff;
  flex-direction: column;
  flex-basis: 88%;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 91px;
  font-family: Poppins, Arial;
  line-height: 35px;
  display: flex;
}

.flex-container-1 {
  color: #00000080;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 7px;
  font-size: 1.5rem;
  display: flex;
}

.flex-container-2 {
  height: 35%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 1px;
  margin-bottom: 7px;
  margin-right: 83px;
  display: flex;
}

.polygon-13 {
  width: 113px;
  height: 126px;
  object-fit: cover;
  margin-bottom: -53px;
}

.polygon-14 {
  z-index: 1;
  width: 113px;
  height: 126px;
  object-fit: cover;
}

.flex-container-3 {
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 41px;
  display: flex;
}

.wtugglhwmthhn {
  margin-bottom: 37px;
  margin-left: -1px;
  margin-right: 1px;
}

.group-1 {
  z-index: 1;
  width: 752px;
  height: 591px;
  object-fit: cover;
}

.polygon-11 {
  width: 111px;
  height: 126px;
  object-fit: cover;
  align-self: center;
  margin-bottom: 113px;
  margin-left: 20px;
}

.itcypxysonvsz {
  color: #6bb8ad;
  width: 100%;
  background-color: #fff;
  flex-direction: row;
  flex-basis: 19%;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2px;
  padding-bottom: 20px;
  padding-right: 80px;
  font-size: 2.5rem;
  line-height: 47px;
  display: flex;
}

.polygon-7 {
  width: 112px;
  height: 126px;
  object-fit: cover;
  margin-bottom: 74px;
}

.flex-container-4 {
  color: #2e363e;
  height: 55%;
  flex-direction: column;
  flex-basis: 24%;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 1px;
  margin-bottom: 4px;
  margin-left: 61px;
  font-weight: 500;
  line-height: 27px;
  display: flex;
}

.obghzmlthejlu {
  align-self: flex-end;
  font-family: Orbitron, Arial;
  font-weight: 700;
  line-height: 47px;
}

.rm {
  color: #000;
  font-size: 1.125rem;
}

.flex-container-5 {
  height: 55%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 1px;
  margin-bottom: 5px;
  margin-left: 64px;
  font-family: Orbitron, Arial;
  display: flex;
}

.kvhaecazxrdzt {
  margin-left: 2px;
  font-weight: 900;
}

.goclqvzjjopyw {
  color: #00000080;
  font-family: Montserrat, Arial;
  font-size: 1.125rem;
  line-height: 27px;
}

.flex-container-6 {
  color: #fff;
  width: 100%;
  flex-direction: column;
  flex-basis: 37%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
  font-weight: 700;
  line-height: 174px;
  display: flex;
}

.rectangle-83 {
  text-align: center;
  width: 100%;
  background-color: #6bb8ad;
  flex-direction: row;
  flex-basis: 84%;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: -579px;
  padding-top: 80px;
  padding-left: 80px;
  display: flex;
}

.kgnjvpttuxcou {
  margin-top: 32px;
  margin-left: 226px;
}

.rectangle-74 {
  color: #00000080;
  z-index: 1;
  width: 70%;
  background-color: #fff;
  border-radius: 14px;
  flex-direction: row;
  flex-basis: 75%;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 7px;
  padding-top: 18px;
  padding-bottom: 8px;
  padding-left: 54px;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 63px;
  display: flex;
}

.flex-container-7 {
  height: 80%;
  flex-direction: column;
  flex-basis: 31%;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 7px;
  margin-bottom: 2px;
  margin-left: 16px;
  font-size: 2.75rem;
  font-weight: 800;
  display: flex;
}

.uvtoirvyvlucc {
  color: #67b8af;
  margin-left: 1px;
}

.qydpxatpintzu {
  margin-bottom: 8px;
  margin-left: 4px;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 27px;
}

.rectangle-70 {
  letter-spacing: 1px;
  color: #9f9f9f;
  width: 100%;
  background-color: #f5f5ff;
  border: none;
  border-radius: 15px;
  flex-direction: row;
  flex-basis: 9%;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 2px;
  margin-right: 2px;
  font-family: Poppins, Arial;
  font-size: .75rem;
  font-weight: 400;
  line-height: 18px;
  display: flex;
}

.rectangle-71 {
  letter-spacing: 1px;
  color: #9f9f9f;
  width: 100%;
  background-color: #f5f5ff;
  border: none;
  border-radius: 15px;
  flex-direction: row;
  flex-basis: 9%;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 4px;
  margin-right: 3px;
  font-family: Poppins, Arial;
  font-size: .75rem;
  font-weight: 400;
  line-height: 18px;
  display: flex;
}

.rectangle-75 {
  color: #9f9f9f;
  width: 100%;
  background-color: #f5f5ff;
  border: none;
  border-radius: 15px;
  flex-direction: row;
  flex-basis: 9%;
  justify-content: flex-start;
  align-self: center;
  align-items: stretch;
  margin-top: 1px;
  margin-left: 2px;
  margin-right: 1px;
  font-family: Poppins, Arial;
  font-size: .75rem;
  font-weight: 400;
  line-height: 18px;
  display: flex;
}

.rectangle-73 {
  letter-spacing: 1px;
  color: #9f9f9f;
  width: 100%;
  background-color: #f5f5ff;
  border: none;
  border-radius: 15px;
  flex-direction: row;
  flex-basis: 30%;
  justify-content: flex-start;
  align-self: flex-end;
  align-items: stretch;
  margin-bottom: 1px;
  margin-left: 4px;
  font-family: Poppins, Arial;
  font-size: .75rem;
  font-weight: 400;
  line-height: 18px;
  display: flex;
}

.rectangle-72 {
  color: #fff;
  width: 100%;
  background-color: #67b8af;
  border: none;
  border-radius: 15px;
  flex-direction: row;
  flex-basis: 9%;
  justify-content: center;
  align-self: flex-end;
  align-items: center;
  margin-left: 3px;
  padding-top: 2px;
  padding-right: 4px;
  font-family: Poppins, Arial;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 26px;
  display: flex;
}

.mzxpzrpcgbczu {
  margin-top: 1px;
}

.flex-container-8 {
  height: 85%;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
  align-items: center;
  margin-left: 6px;
  padding-bottom: 1px;
  line-height: 20px;
  display: flex;
}

.group-2 {
  width: 534px;
  height: 441px;
  object-fit: cover;
}

.frame {
  width: 24px;
  height: 24px;
  object-fit: cover;
  align-self: flex-start;
  margin-bottom: 17px;
  margin-left: 86px;
}

.flex-container-9 {
  width: 45%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 5px;
  margin-bottom: 22px;
  line-height: 22px;
  display: flex;
}

.frame-1 {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.flex-container-10 {
  width: 65%;
  flex-direction: row;
  flex-basis: 4%;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 9px;
  display: flex;
}

.frame-2 {
  width: 24px;
  height: 24px;
  object-fit: cover;
  align-self: flex-start;
}

.flex-container-11 {
  width: 95%;
  flex-direction: row;
  flex-basis: 17%;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 1px;
  margin-left: 61px;
  font-family: Orbitron, Arial;
  font-size: .875rem;
  font-weight: 500;
  line-height: 25px;
  display: flex;
}

.footer-8 {
  height: 95%;
  background-color: #fff;
  flex-direction: row;
  flex-basis: 82%;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 1px;
  margin-right: -626px;
  padding-left: 65px;
  padding-right: 11px;
  display: flex;
}

.num-4-1 {
  width: 413px;
  height: 328px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  align-self: flex-start;
  margin-left: 19px;
}

.flex-container-12 {
  height: 30%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 23px;
  margin-left: 68px;
  line-height: 18px;
  display: flex;
}

.xelsgrczrleaj {
  margin-left: 1px;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 23px;
}

.flex-container-13 {
  height: 15%;
  flex-direction: column;
  flex-basis: 7%;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 44px;
  font-size: 1.25rem;
  display: flex;
}

.kfnziawtvuejj {
  align-self: flex-end;
  font-weight: 900;
}

.wdrdbunynlvkk {
  font-size: .875rem;
  line-height: 18px;
}

.ellipse-32 {
  z-index: 1;
  width: 1065px;
  height: 423px;
  object-fit: cover;
  align-self: flex-start;
  margin-left: -116px;
}

.rectangle-105 {
  width: 100%;
  background-color: #dddede87;
  flex-direction: row;
  flex-basis: 4%;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 1px;
  padding-left: 54px;
  padding-right: 68px;
  font-size: .813rem;
  line-height: 21px;
  display: flex;
}

.num-2022 {
  margin-top: 15px;
  margin-left: 31px;
  font-size: .875rem;
}

.flex-container-14 {
  height: 40%;
  flex-direction: column;
  flex-basis: 24%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
  line-height: 20px;
  display: flex;
}

.flex-container-15 {
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-size: .875rem;
  display: flex;
}

.group-12 {
  width: 18px;
  height: 18px;
  object-fit: cover;
  margin-right: 4px;
}

.salesiconicompanycom {
  margin-left: 2px;
  line-height: 7px;
}

.num-7-904-315-72-77 {
  margin-bottom: 1px;
  font-size: .813rem;
}

.flex-container-16 {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
}

.mctdqurqzmogx {
  margin-top: 1px;
}

.platforms-and-cloud {
  color: #fff;
  margin-top: 45px;
  margin-left: 111px;
  font-size: 4rem;
  line-height: 80px;
}
